{{> header title="Productos" titulo-h1="Nuestros Productos"}}

<div class="container-fluid text-black col-xs-12 col-sm-11 col-md-11 col-lg-10">
  <div class="row">
    {{> galeria imagen="/images/groot.png" src="/images/groot.png" alt="producto 1"}}
    {{> galeria imagen="/images/monito.png" src="/images/monito.png" alt="producto 2"}}
    {{> galeria imagen="/images/nezuko.png" src="/images/nezuko.png" alt="producto 1"}}
    {{> galeria imagen="/images/teemo.png" src="/images/teemo.png" alt="producto 2"}}
    {{> galeria imagen="/images/groot.png" src="/images/groot.png" alt="producto 1"}}
    {{> galeria imagen="/images/monito.png" src="/images/monito.png" alt="producto 2"}}
    {{> galeria imagen="/images/nezuko.png" src="/images/nezuko.png" alt="producto 1"}}
    {{> galeria imagen="/images/teemo.png" src="/images/teemo.png" alt="producto 2"}}
    {{> galeria imagen="/images/groot.png" src="/images/groot.png" alt="producto 1"}}
    {{> galeria imagen="/images/monito.png" src="/images/monito.png" alt="producto 2"}}
    {{> galeria imagen="/images/nezuko.png" src="/images/nezuko.png" alt="producto 1"}}
    {{> galeria imagen="/images/teemo.png" src="/images/teemo.png" alt="producto 2"}}
    {{> galeria imagen="/images/groot.png" src="/images/groot.png" alt="producto 1"}}
    {{> galeria imagen="/images/monito.png" src="/images/monito.png" alt="producto 2"}}
    {{> galeria imagen="/images/nezuko.png" src="/images/nezuko.png" alt="producto 1"}}
    {{> galeria imagen="/images/teemo.png" src="/images/teemo.png" alt="producto 2"}}
    {{> galeria imagen="/images/groot.png" src="/images/groot.png" alt="producto 1"}}
    {{> galeria imagen="/images/monito.png" src="/images/monito.png" alt="producto 2"}}
    {{> galeria imagen="/images/nezuko.png" src="/images/nezuko.png" alt="producto 1"}}
    {{> galeria imagen="/images/teemo.png" src="/images/teemo.png" alt="producto 2"}}
    {{> galeria imagen="/images/groot.png" src="/images/groot.png" alt="producto 1"}}
    {{> galeria imagen="/images/monito.png" src="/images/monito.png" alt="producto 2"}}
    {{> galeria imagen="/images/nezuko.png" src="/images/nezuko.png" alt="producto 1"}}
    {{> galeria imagen="/images/teemo.png" src="/images/teemo.png" alt="producto 2"}}
    {{> galeria imagen="/images/groot.png" src="/images/groot.png" alt="producto 1"}}
    {{> galeria imagen="/images/monito.png" src="/images/monito.png" alt="producto 2"}}
    {{> galeria imagen="/images/nezuko.png" src="/images/nezuko.png" alt="producto 1"}}
    {{> galeria imagen="/images/teemo.png" src="/images/teemo.png" alt="producto 2"}}
    {{> galeria imagen="/images/groot.png" src="/images/groot.png" alt="producto 1"}}
    {{> galeria imagen="/images/monito.png" src="/images/monito.png" alt="producto 2"}}
    {{> galeria imagen="/images/nezuko.png" src="/images/nezuko.png" alt="producto 1"}}
    {{> galeria imagen="/images/teemo.png" src="/images/teemo.png" alt="producto 2"}}
    {{> galeria imagen="/images/groot.png" src="/images/groot.png" alt="producto 1"}}
    {{> galeria imagen="/images/monito.png" src="/images/monito.png" alt="producto 2"}}
    {{> galeria imagen="/images/nezuko.png" src="/images/nezuko.png" alt="producto 1"}}
    {{> galeria imagen="/images/teemo.png" src="/images/teemo.png" alt="producto 2"}}
  </div>
</div>
<br><br><br><br><br>
<span class="ir-arriba"><img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/arrow-up-256.png"
    alt="ir arriba" class="ir-arriba" /></span>
{{> footer}}