<footer class="contenido">
<br />
<div class="col-sm-8 col-md-11 col-lg-11" id="contact">
  <h3>Contáctenos</h3>
  <button class="boton"><img
      src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo-whatsapp-256.png"
      alt="whatsapp"
      width="40"
      height="40"
    /></button>
  <a href="https://www.facebook.com/valentinaregalosoficial" target="_blank" rel="noopener noreferrer">
  <button class="boton"><img
      src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-256.png"
      alt="facebook"
      width="40"
      height="40"
    /></button>
    </a>
    <a href="https://www.instagram.com/valentinaregalos_oficial/" target="_blank" rel="noopener noreferrer">
    <button class="boton"><img
      src="https://cdn-icons-png.flaticon.com/512/3955/3955024.png"
      alt="instagram"
      width="40"
      height="40"
    /></button>
    </a>
</div>
<br />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.6.0.js"></script>
<script src="/js/botonSubir.js"></script>
<script src="/js/lightbox.js"></script>
</footer>
</body>
</html>