<div class="col-12 col-sm-12 col-md-4 col-lg-4">
  <a href={{imagen}} data-lightbox="galeria">
    <img
      class="img-thumbnail mx-auto d-block"
      id="ImagenesMenu"
      src={{src}}
      alt={{alt}}
    />
  </a>
  <br />
</div>